<footer>
       <div class="f-info">
               <div class="f-info-social">
               <a href="https://www.facebook.com/AirbnbIndia/"> <i class="fa-brands fa-square-facebook"></i>  </a>
               <a href="https://www.instagram.com/sagarh_ghate/"> <i class="fa-brands fa-square-instagram"></i>  </a>
              <a href="https://www.linkedin.com/in/sagarghate/">  <i class="fa-brands fa-linkedin"></i>  </a>
               </div>
               <div class="f-info-brand">&copy; WonderLust Private Limited</div>
               <div class="f-info-links">
                   <a href="/privacy">Privacy</a>
                   <a href="/terms">Terms</a>
               </div>
       </div>
</footer>